/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600; 
}

/*===== Colores =====*/
:root{
  --first-color: #4070F4;
  --second-color: #0E2431;
 }

/*===== Fuente y tipografia =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}
/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  width: 100%;
  height: 100%;
  background: #F16B28;
}
.bubbles {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
.bubbles li{
 position: absolute;
 list-style: none;
 display: block;
 width: 25px;
 height: 25px;
 background: rgba(100,98,98,0.952);
 animation: animate 25s linear infinite;
 bottom: -150px;
}

.bubbles li:nth-child(1) {
    left: 25%;
    width: 25px;
    height: 25px;
    animation-delay: 0;
    animation-duration: 12s;
}
.bubbles li:nth-child(2) {
    left: 10%;
    width: 35px;
    height: 35px;
    animation-delay: 2s;
}
.bubbles li:nth-child(3) {
    left: 70%;
    width: 40px;
    height: 40px;
    animation-delay: 4s;
    
}
.bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 18s;
    animation-duration: 12s;
}
.bubbles li:nth-child(5) {
    left: 65%;
    width: 50px;
    height: 50px;
    animation-delay: 0 ;
}
.bubbles li:nth-child(6) {
    left: 75%;
    width: 20px;
    height: 20px;
    animation-delay: 3s;
}
.bubbles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.bubbles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 5s;
}
.bubbles li:nth-child(9) {
    left: 20%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
}
.bubbles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height:150px;
    animation-delay: 0;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity : 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-top-right-radius: 75%;
        border-bottom-left-radius: 75%;
        border-top-left-radius: 25%;
        box-shadow: 5px 20px 20px 5px rgb(201, 17, 17);

    }
}
h1,h2,p{
  margin: 0;
  margin-left: 50%;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-top: var(--mb-2);
  margin-left: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 2000px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
  background: #F16B28;
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
  background: #F16B28;
}
@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}
.nav__item{
  margin-bottom: var(--mb-4);
}
.nav__link{
  position: relative;
  color: #fff;
}
.nav__link:hover{
  position: relative;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show{
  right: 0;
}

/*===== HOME =====*/
.home{
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home__data{
  align-self: center;
}
.home__title{
  font-size: var(--big-font-size);
  margin-top: -30%;
  margin-left: 40%;
}
.home__p {

padding-inline-start:1px;
padding-left: -10px;
writing-mode: horizontal-tb;
direction: rtl;
}
.home__title-color{
  color: var(--first-color);
}
.contact-img{
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}
.contact-img:hover{
  color: var(--first-color);
}
.home__img{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  margin-right: 50%;
}
.home__bio{
  position: absolute;
  margin-left: 6%;
  top: 60%;
  width: max-content;
  
}

.sibi {
  width: 200px;
  clip-path: circle();
}
.abt {
  text-align: initial;
}
/* ===== ABOUT =====*/
.about__container{
  row-gap: 2rem;
  text-align: left;
}
.about__subtitle{
  margin-bottom: var(--mb-6);
  margin-top: var(--mb-6);
  text-align: left;
}
.about__text {
  margin-bottom: var(--mb-4);
  margin-top: var(--mb-3);

  align-content: center;
}
.about-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-top: var(--mb-6);
  margin-left: var(--mb-4);
  text-align: center;
}
.about-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

/* ===== SKILLS =====*/
.skills__subtitle{
  margin-left: var(--mb-5);
}
.skills__text{
  margin-left: var(--mb-4);
}

/* ===== CONTACT =====*/
.contact{
  width: 100%;
  display: inline-block;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 18.5rem;
  border: 2.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-3);
}
/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: var(--mb-4);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--second-color);
  }

  .home{
    height: 100vh;
  }
  .home__data{
    align-self: flex-end;
  }
  .home__social{
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon{
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img{
    width: 457px;
    bottom: 25%;
  }

  .profile {
    margin-bottom: auto;
    margin-right: 35%;
    text-align: justify;
    align-items: center;
  }

  .about__container, .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  img{
    transition: 1s;
    cursor: pointer;
  }
  img img:hover{
    transform: scale(1.1);
  }
  
  .work{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
    justify-content: center;
  }
  .about {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
    justify-content: center;
    margin-right: auto;
  }
  

  .sibi {
    width: 400px;
    clip-path: circle();
  }
  
}
.topic {
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
}
@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  .home__img{
    right: 10%;
  }
}

.contact-img {
    align-items: center;
    margin-left: 10%;
}

.contact-icons {
        display: flex;
        align-items: left;
        justify-content: left;    
}

.contact-icons a {
        margin-left: auto;
        margin-bottom: auto;
    }
        
@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
  }

 @-ms-viewport {
   width: extend-to-zoom;
   zoom: 1.0;
 } 
